<footer >
      <div class="left_side">
      © 2018 Fortis Healthcare. All Rights Reserved.
    </div>
    <div class="rigth_side">

      Terms & Conditions Apply
    
      
    </div >
  </footer>