<body style="background: url(/assets/home_page.jpg);height:100vh;background-size: cover;background-position: center;background-repeat: no-repeat no-repeat;">
    <div>
<% if !user_signed_in?%>
    
        <div class="login-btn">
          <%= link_to "Login",new_user_session_url , class: "btn btn-success btn-lg"%>
        </div>
        
   
  
    <% end %>
    <% if user_signed_in?%>
    <% if current_user.role.name == "Principal"%>
    <%= link_to "Go to Dashboard Page", "/principal/index" ,class: "btn btn-info"%>
    <% end %>

    <% if current_user.role.name == "Student"%>
    <%= link_to "Go to Dashboard Page", "/student/index"  ,class: "btn btn-info"%>
    <% end %>

    <% if current_user.role.name == "Teacher"%>
    <%= link_to "Go to Dashboard Page", "/teachers/index"  ,class: "btn btn-info"%>
    <% end %>
    <% end %> 
    </div>
</body>

