<%= link_to "Home Page", "/home/index" %><br>
    <% if user_signed_in?%> 
    <%= link_to "Enter New Record", "/teachers/new"%>
    <h1>All Record</h1>
    <table id="dttb" class="table table-hover">
      <thead>
        <tr>
         
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.email,"/#{user.id}" %></td><br>
            <td> <%= user.role.name if present? %><br></td>
          </tr>
        <% end %>
      </tbody>
    </table>
     <% end %>