 <script></script>
    <div class="login-wrapper">
<div class="container">
  <div class="col-md-6 offset-3 login-mobile">
    <div class="login">
      <div class="login-shadow">
        <div class="login-in">
          <div class="login-logo">
            <img src="http://supplierportal.casesbysource.com/assets/logo-2036b2dbb58f3e453153a9079699e90c194a27feb75fa9738a116e5b92fcf2ec.png" />
          </div>
          <h1>Supplier <span>Portal</span></h1>
        </div>
        <div class="login-form">
          <div class="login-heading">Login</div>
          <form class="new_user" id="login_form" action="/admin/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="sfGPULt0WJPHcVJHe8vYkPWlHY3pR9az9qxev/BFlAa1vV8SWR5ls1WBjkRt21q7BAJEurVXghDS4F591XYJEQ==" />
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" autofocus="autofocus" autocomplete="email" type="email" name="user[email]" id="user_email" />
              </div>
            </div>

              
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text"><i class="glyphicon glyphicon-lock"></i></span>
                <input autocomplete="current-password" class="form-control" type="password" name="user[password]" id="user_password" />
              </div>
            </div>

            <div class="actions">
              <input type="submit" name="commit" value="LogIn" class="login-submit" data-disable-with="LogIn" />
            </div>
              <div class="form-group remember-me">
                <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
                <label for="user_remember_me">Remember me</label>
                <a class="f-pwd" href="/users/password/new">Forgot Password?</a>
              </div>
              
</form>
        </div>
      </div>
      <div class="login-copyright">
            Copyright &copy; 2018 Cases By Source, Inc.
      </div>
    </div>
  </div>
</div>
</div>