<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @employee.first_name %> <%= @employee.last_name %></h1>
    <p>
      Confirmation
    </p>
  </body>
</html>