<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="books-list">
    <%= render partial: 'books' %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
